.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
  padding: 0;
}

.SideBar {
  height: 100%;
  width: 12%;
  background-color: #2F769E;
}

.SideBarList {
  height: auto;
  width: 100%;
  padding: 0%;
  margin: 0;
}

.SideBarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}

.SideBarList .row:hover {
  cursor:pointer;
  background-color: #216287;
}

.SideBarList #active {
  background-color: #216287;
}

.ResourceTable {
  width: 100%;
  justify-content:center;
  align-items: center;
  margin-top: 80px;
  border-collapse: collapse;
}

.ResourceTable td{
  padding: 7px;
  text-align: center;
}

.ResourceTable tbody tr:nth-child(odd) {
  background-color: rgb(240, 240, 240);
}

th {
  padding-bottom: 20px;
}

.MainArea {
  width: 88%;
  margin: 0%;
  padding: 0%;
}